.reverse_wrapper {
  width: 90%;
  margin: auto;
  color: var(--dark-rgba-font);
  margin-top: 2%;
  padding: 2%;
  margin-bottom: 10%;
}


.reverse_wrapper p {
  font-size: var(--font-large);
  font-weight: 200;
  margin-bottom:3rem;
  line-height: 1;
}

.grid_section {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px;
  margin:auto;
  width: 90%;
  background-color: var(--dark-inverse);
  border-radius: 10px;
}

.normal_layout {
  flex-direction: row;
}

.reverse_layout {
  flex-direction: row-reverse;
}

.grid_image {
  flex: 2.5;
  max-width: 50%;
}
.reverse_layout .grid_image img
{
  margin-left: -90px;

}
.normal_layout .grid_image img
{
  margin-right: -20px;

}

.grid_image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.grid_text {
  flex: 1.5;
  text-align: left;
}

.grid_text h1 {
  font-size: var(--font-medium);
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 1;
}

.grid_text p {
  font-size: var(--font-small);
  line-height: 1.8;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .grid_section {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .grid_image {
    max-width: 100%;
  }

  .grid_text {
    margin-top: 15px;
  }

}
