/* Updated Card Styles with Prefix */
article.eventCard_card {
    position: relative;
    left: 50%;
    top: 50%;
    width: 350px;
    height: 455px;
    transform: translate(-50%, -50%) translateZ(0);
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin-bottom: 15px;
  }
  
  article.eventCard_card .eventCard_thumb {
    width: auto;
    height: 70%;
    background: no-repeat center;
    background-size: cover;
    border-radius: 3px;
  }
  
  article.eventCard_card .eventCard_infos {
    width: auto;
    height: 190px;
    position: relative;
    padding: 14px 24px;
    background: #fff;
    transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
  }
  
  article.eventCard_card .eventCard_infos .eventCard_title {
    position: relative;
    margin: 10px 0;
    letter-spacing: 2px;
    color: #152536;
    font-size: 1rem;
    text-transform: uppercase;
  }
  
  article.eventCard_card .eventCard_infos .eventCard_txt {
    line-height: 1.3;
    font-size: 0.90rem;
    color: var( --gray);
    opacity: 1;
    transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
  }
  
  article.eventCard_card .eventCard_infos .eventCard_details {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 10px 0;
    padding: 20px 24px;
    letter-spacing: 1px;
    color: #4e958b;
    font-family: "Grotesque Black", sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
  }
  
  article.eventCard_card:hover .eventCard_infos {
    transform: translateY(-80px);
  }
  
  article.eventCard_card:hover .eventCard_infos .eventCard_txt,
  article.eventCard_card:hover .eventCard_infos .eventCard_details {
    opacity: 1;
  }
  