.feature_wrapper {
  margin: auto;
  background-color: var(--primary);
  padding: 4rem;
  border-radius: 8px;
  width: 90%;
}

.feature_wrapper h2 {
  font-size: var(--font-large);
  margin-bottom: 2rem;
  font-weight: 300;
  color: var(--light);
}

.feature_wrapper p {
  font-size: var(--font-small);
  margin-bottom: 2rem;
  color: var(--light);
}

.featureCard {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: var(--light);
}

.featureSidebar {
  width: 100%;
  max-width: 300px;
  background-color: var(--primary);
  padding: 20px;
  color: var(--light);
}

.featureSidebar h2 {
  font-size: var(--font-medium);
  margin-bottom: 10px;
}

.featureSidebar ul {
  list-style: none;
  padding: 0;
}

.featureSidebar li {
  padding: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  border-bottom: 0.5px solid rgba(182, 179, 179, 0.1);
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
}

.featureSidebar li:hover {
  background-color: var(--light);
  color: var(--dark);
}

.featureSidebar li.active {
  background-color: var(--light);
  font-weight: bold;
  color: var(--dark);
}

.featureContent {
  width: 100%;
  max-width: calc(100% - 320px);
  padding: 20px;
  box-sizing: border-box;
}

.featureContent h3 {
  font-size: var(--font-medium);
  margin-bottom: 15px;
  color: var(--dark);
}

.featureContent p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: var(--dark);
}

.featureContent img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 20px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalContent img {
  max-width: 100%;
  max-height: 80vh; 
  border-radius: 8px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #f44336;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
}

.closeButton:hover {
  background: #d32f2f;
}

.clickableImage {
  cursor: pointer;
}

@media (max-width: 768px) {
  .featureCard {
    flex-direction: column;
  }

  .featureSidebar {
    width: 100%;
    max-width: none;
    margin-bottom: 20px;
  }

  .featureContent {
    width: 100%;
    max-width: none;
  }
}