html {
    scroll-behavior: smooth;
  }
  
  .simple_navbar {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: var(--primary);
    width: 90%;
    margin: 0 auto;
    border-radius: 4px;
  }
  
  .simple_navList {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .simple_navItem a {
    font-size: var(--font-small);
    font-weight: 400;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    transition: color 0.3s ease;
  }
  
  .simple_navItem a:hover {
    color: var(--light-green);
  }
  
  @media (max-width: 768px) {
    .simple_navList {
      justify-content: center;
      gap: 10px;
    }
  }
  