.title_wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}
  
  .section_heading {
    font-size: var(--font-large);
   line-height: 1.1;
   font-weight: bold;
    margin: 30px 0 10px 0px;
  }
  
  .section_description {
    font-size: var(--font-small);
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 40px;
    width: 70%;
  }

.btn_gradient_dark{
    background-image: linear-gradient(to right, #1f2f28 0%, var(--dark) 100%);
    color: var(--light);
    padding: 15px 15px;
    width: 190px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
}

.btn_gradient_light{
    background-image: linear-gradient(to right, #FFF 0%, rgba(75, 226, 150, 0.2) 100%) !important;
    padding: 15px 15px;
    color: var(--secondary);
    width: 190px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
}

.text_light {
    color: var(--light);
  }
  
  .text_dark {
    color: var(--dark);
  }