  
  .what_statsValue {
    font-size: var(--font-large-extra);
    color: dark;
    font-weight: bold;
    color: var(--dark);
    margin-bottom: 20px;
  }
  
  .what_statsDescription {
    font-size: var(--font-medium);
    font-style: italic;
    line-height: 1.4;
    white-space: pre-wrap; 
    margin-bottom: 7px;
  }
  .what_statsDescription2 {
    font-size: var(--font-extra-small);
    line-height: 1.4;
    white-space: pre-wrap; 
    font-weight: light;
    color: var(--dark-rgba-50);
  }
  