@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');


:root {
  --font-large: 44px;
  --font-large-extra: 59px;
  --font-medium: 22px;
  --font-small: 15px;
  --font-extra-small: 11px;
  --font-card-header:17px;
  --blue : #0073e6;
  --primary: #1F2F28;
  --light-green: #4be296;
  --light-green-bg: #9be5c0;
  --dark-rgba-10: rgba(17, 17, 17, 0.1);
  --dark-inverse: #FFF;
  --light-green-icon:#b6f0d3;
  --hover-color: #55a630;
  --dark-rgba-50: rgba(17, 17, 17, 0.5);
   
  /* --primary: #007437; */
  --gray : #767676;
  --secondary: #2E895B;
  /* --secondary: #CAE906; */
  --light: #FFFFFF;
  --dark: #000000;
  --background: #F2F2F3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
	direction: ltr;
	overflow-x: hidden;
	box-shadow: none !important;
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: auto;
	}
}

body {
	background-color: var(--light);
	font-family: "Poppins", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

body a {
	outline: none !important;
}

::-moz-selection {
	color: var(--primary-inverse);
	background: var(--primary);
}

::selection {
	color: var(--primary-inverse);
	background: var(--primary);
}

/* Body */
.body {
	background-color: var(--light);
}

html.safari:not(.no-safari-overflow-x-fix) .body {
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

a:not(.btn):hover {
	text-decoration: none;
}

li {
	line-height: 24px;
}
.custom-bg-primary{
  background-color: var(--primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Media queries for responsiveness */
@media (max-width: 1200px) {
  :root {
    --font-large: 44px;
    --font-medium: 25px;
    --font-small: 15px;
    --font-card-header: 15px;
  }
}

@media (max-width: 992px) {
  :root {
    --font-large: 32px;
    --font-medium: 18px;
    --font-small: 14px;
    --font-card-header: 14px;
  }
}

@media (max-width: 768px) {
  :root {
    --font-large: 28px;
    --font-medium: 16px;
    --font-small: 13px;
    --font-card-header: 13px;
  }
}

@media (max-width: 576px) {
  :root {
    --font-large: 24px;
    --font-medium: 14px;
    --font-small: 10px;
    --font-card-header: 12px;
  }
}
