@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

:root {
  --font-large: 44px;
  --font-large-extra: 79px;
  --font-medium: 22px;
  --font-small: 15px;
  --font-extra-small: 11px;
  --font-card-header:17px;
  --blue: #0073e6;
  --primary: #1F2F28;
  --light-pink: #F7F0E7;
  --dark-rgba-10: rgba(17, 17, 17, 0.1);
  --dark-inverse: #FFF;
  --light-green-icon: #b6f0d3;
  --dark-rgba-50: rgba(17, 17, 17, 0.5);
  --gray: #767676;
  --secondary: #2E895B;
  --dark-green: #007437;
  --hover-color: #C0E46E;
  --light-green: #BBD900;
  --light: #F2F2F3;
  --dark: #000000;
  --background: #F2F2F3;
  --overlay: rgba(0, 0, 0, 0.8);
  --text-color: #333; 
  --font-family: 'Poppins', Arial, sans-serif; 
  --primary-inverse: #FFF; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  direction: ltr;
  overflow-x: hidden;
  box-shadow: none !important;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: auto;
  }
}

body {
  background-color: var(--light);
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body a {
  outline: none !important;
}

::-moz-selection {
  color: var(--primary-inverse);
  background: var(--primary);
}

::selection {
  color: var(--primary-inverse);
  background: var(--primary);
}

.body {
  background-color: var(--light);
}

html.safari:not(.no-safari-overflow-x-fix) .body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:not(.btn):hover {
  text-decoration: none;
}

li {
  line-height: 24px;
}

.custom-bg-primary {
  background-color: var(--primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 1200px) {
  :root {
    --font-large: 44px;
    --font-medium: 25px;
    --font-small: 15px;
    --font-card-header: 15px;
  }
}

@media (max-width: 992px) {
  :root {
    --font-large: 32px;
    --font-medium: 18px;
    --font-small: 14px;
    --font-card-header: 14px;
  }
}

@media (max-width: 768px) {
  :root {
    --font-large: 28px;
    --font-medium: 16px;
    --font-small: 13px;
    --font-card-header: 13px;
  }
}

@media (max-width: 576px) {
  :root {
    --font-large: 24px;
    --font-medium: 14px;
    --font-small: 10px;
    --font-card-header: 12px;
  }
}